{% extends 'core/base.html' %}

{% block title %}
<style>
    /* Estilo para el título */
    .titulo {
      margin-left: 50px; /* Ajusta este valor según el margen deseado */
      border-bottom: 4px solid black; /* Aumentar grosor de la línea */
      padding-bottom: 5px; /* Espacio entre el texto y la línea */
      margin-right: 50px
    }
  </style>
   <h1 class="titulo">Detalle de cliente</h1> 
{% endblock title %}

{% block contenido %}
<style>
    .contenido {
        margin-left:50px;
        margin-right:50px
    }
  </style>

    <ul class="contenido">
        <li>Nombre: {{cliente.nombre}}</li>
        <li>Apellido: {{cliente.apellido}}</li>
        <li>Correo: {{cliente.email}}</li>
        <li>País de origen: {{cliente.pais_origen_id}}</li>
    </ul>

    <div class ="fs-3 pb-4 contenido">
        <a href="{% url 'Cliente:home' %}">Volver</a>
    </div>

{% endblock contenido %}