{% extends 'core/base.html' %}

{% block title %}
<style>
    /* Estilo para el título */
    .titulo {
      margin-left: 50px; /* Ajusta este valor según el margen deseado */
      border-bottom: 4px solid black; /* Aumentar grosor de la línea */
      padding-bottom: 5px; /* Espacio entre el texto y la línea */
      margin-right: 50px
    }
  </style>
    <h1 class="titulo">Borrar cliente</h1> 
{% endblock title %}

{% block contenido %}
    
  <style>
    .contenido {
        margin-left:50px;
        margin-right:50px
    }
  </style>

    <p class="fs-5 fst-italic contenido">¿Confirma eliminar "{{cliente.nombre}}"?</p>

    <form method="post" class="contenido">
        {% csrf_token %}
        <p><button type="submit" class="btn btn-danger">Confirmar</button></p>
    </form>

{% endblock contenido %}