<div class="col-lg-4 mb-5">
    <div class="card h-100 shadow border-0">
        <img class="card-img-top" src="https://dummyimage.com/600x350/ced4da/6c757d" alt="..." />
        <div class="card-body p-4">
            <div class="badge bg-primary bg-gradient rounded-pill mb-2">Fútbol</div>
            <h5 class="card-title mb-3">{{ titulo }}</h5></a>
            <p class="card-text mb-0">${{ texto }}</p>
        </div>
        <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                    <a href="{% url 'Producto:producto_detail' producto.id %}">Ver detalle</a>
                    <a href="{% url 'Producto:producto_update' producto.id %}">Cambiar</a>
                    <a href="{% url 'Producto:producto_delete' producto.id %}">Borrar</a>
        </div>
    </div>
</div>