{% extends 'core/base.html' %}

{% block title %}
<style>
    /* Estilo para el título */
    .titulo {
      margin-left: 50px; /* Ajusta este valor según el margen deseado */
      border-bottom: 4px solid black; /* Aumentar grosor de la línea */
      padding-bottom: 5px; /* Espacio entre el texto y la línea */
      margin-right: 50px
    }
  </style>
   <h1 class="titulo">Agregar productos</h1> 
{% endblock title %}

{% block contenido %}
<style>
    .contenido {
        margin-left:50px;
        margin-right:50px
    }
  </style>

    <form action="" method="post" class="contenido">
        {% csrf_token %}
        <table>
            {{ form.as_table}} 
        </table>
        <p><button type="submit">Agregar</button></p>
    </form>

{% endblock contenido %}