{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4 text-center">
                        <img src="{% static 'core/img/Marcelo.jpeg' %}" class="img-fluid rounded-circle m-3" alt="Marcelo Tanaka">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1 class="card-title text-center">Hola, soy Marcelo Tanaka</h1>
                            <p class="card-text text-center lead">Tengo 18 años, soy de Perú y estoy a unos meses de irme a Estados Unidos a estudiar ciencias de la computación.</p>
                            <p class="card-text">Hice el curso de CoderHouse de Python para pulir mis habilidades de programación y exponerme un poco más al mundo el cual he decidido que sea mi ámbito laboral. La página que acabo de crear es la muestra de una de mis mayores pasiones que es el fútbol. Siento que actualmente el fútbol ya no tiene la misma esencia que antes y, por ello, me gustaría compartir recuerdos de un fútbol más espectacular y que, desafortunadamente, no fui capaz de disfrutar mucho.</p>
                            <p class="card-text">Asimismo, siempre he querido obtener alguna camiseta de esas antiguas, por lo que, mediante Footcollection, me gustaría lograr eso.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}

