{% extends 'core/base.html' %}

{% block title %}
    <div class="container text-center">
        <h1 class="mt-4">Login</h1>
    </div>
{% endblock title %}

{% block contenido %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Iniciar Sesión</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.as_p }}
                        </div>
                        <input type="hidden" name="next" value="{% url 'core:home' %}">
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn btn-primary w-45">Iniciar Sesión</button>
                            <a href="{% url 'core:home' %}" class="btn btn-secondary w-45">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
