{% extends 'core/base.html' %}

{% block title %}
<style>
    /* Estilo para el título */
    .titulo {
      margin-left: 50px; /* Ajusta este valor según el margen deseado */
      border-bottom: 4px solid black; /* Aumentar grosor de la línea */
      padding-bottom: 5px; /* Espacio entre el texto y la línea */
      margin-right: 50px
    }
  </style>    
    <h1 class="titulo">Logout</h1>
{% endblock title %}

{% block contenido %}
    <h1 class="display-4 ">Has cerrado sesión</h1>
{% endblock contenido %}